* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
}

header {
    background-color:  #05203c;
    padding: 1rem;

}

nav {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 15%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: #4a5568;
    border-color: #ffffff;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
}



.search-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    outline: none;
    background-color: #f7fafc;
}

input:focus {
    border-color: #3182ce;
}

button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #3182ce;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: #4299e1;
}

button:active {
    transform: scale(0.98);
}

#button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #3182ce;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 1rem;
}

#button:hover {
    background-color: #4299e1;
}

#button:active {
    transform: scale(0.98);
}


/* ---------------------------account------------------------- */
#header-bar {

    background-color: #05203c;
    font-size: 1rem;
    box-sizing: inherit;
    padding-bottom: 1px;
    /* margin: 0 auto; */
    /* max-width: 50rem; */
	background-image: url("../assets/images/account_background2.jpg");
	background-size:cover;
	background-position: center;
	box-shadow: 0 2px 15px rgb(192, 187, 187);
}
#account-header{

    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    padding-top: 0.5rem;
    align-items: right;
    background-color: #05203c;
    color: #fff;
    fill: #fff;
}
#account-container{

    box-sizing: inherit;
    margin-left: 50%;
    text-align: left;
    font-size: 1.5rem;
	text-shadow: 0 4px 6px rgb(152, 167, 21);
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: black;
    margin-top: 2.5rem;

}
.account-view {
    display: flex; 
    text-align: left;
    margin: 5% 0 3% 5%;

}

.search-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 2px 15px rgb(7, 83, 223);
	background-image: linear-gradient(to right, #f7bd7b, #f7f7f0);
    width: 100%;
    display: block;
    margin-left: 50%;
    margin-bottom: 5%;
    max-width: 480px;
    align-items: right;
    justify-content: right;

}
.trips{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    text-align: left;
    margin: 0 5% 5% 5%;

}
.trips .trip-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5% 5% 5%;
	text-decoration: none;
	color: black;
	line-height: 1.2em;
	font-family: 'Arial', sans-serif;
	
}
.trip-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-image: linear-gradient(to right, #F5f5dc, #f7f7f0);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: all 0.3s ease;
}

/* ---------------------------account------------------------- */
.background {
    display: flex;
}