* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
}

header {
    background-color:  #05203c;
    padding: 1rem;
}

nav {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 15%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: #4a5568;
    border-color: #ffffff;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
}



.search-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    outline: none;
    background-color: #f7fafc;
}

input:focus {
    border-color: #3182ce;
}

button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #3182ce;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: #4299e1;
}

button:active {
    transform: scale(0.98);
}

#button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #3182ce;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 1rem;
}

#button:hover {
    background-color: #4299e1;
}

#button:active {
    transform: scale(0.98);
}
/* ---------------------------log/sign in------------------------- */

#register-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
}
#login-form{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
}
/* ---------------------------log/sign in------------------------- */


